doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title
    link(href='dist/styles/main.css' rel='stylesheet')
  body
    p Hola
    p {{ 1 + 1 }}
    script(data-main='dist/scripts/main.js', src='bower_components/requirejs/require.js')
