doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title
    link(href='styles/main.css' rel='stylesheet')
  body
    p Hola {{ 1 + 1 }}
    div: a(href='/login') Login
    div: a(href='/sign-in') Sign In

    script(data-main='scripts/main.js', src='bower_components/requirejs/require.js')
