doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title
    link(href='styles/main.css' rel='stylesheet')
  body
    script(data-main='scripts/main.js', src='bower_components/requirejs/require.js')
