doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title
    link(href='assets/main.css' rel='stylesheet')
  body
    div.container(ng-view='')

    script(data-main='config/main.js', src='../bower_components/requirejs/require.js')
